body {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-dark {
    color: #2e2f42;
}
header li {
    list-style: none;
}
.nav-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.nav-button:hover {
    color: #404bbf;
}
.nav-button:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.address a:hover {
    color: #404bbf;
}
.address a:focus {
    color: #404bbf;
}
a {
    text-decoration: none;
    color: inherit;
}