body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            color: #2E2F42;
            text-decoration: none;
            font-size: 16px;
        }
        header {
            display: flex;
            justify-content: space-between;
            padding: 13px 8.125%;
            align-items: center;
            margin: 0;
        }
        header a {
            font-size: 16px;
            display: inline-flex;
            font-weight: 500;
            text-decoration: none;
            color: #2E2F42;
        }
        ul {
            display: flex;
            align-items: center; 
            justify-content: center;
            gap: 3%;
        }
        ul li {
            list-style: none;
        }
        header address {
            font-size: 16px;
            color: #434455;
        }
        main section h1 {
            margin: 0;
            font-size: 56px;
            font-weight: 700;
            color: #FFFFFF;
            line-height: 1.2;
        }
        main section button {
            margin-top: 50px;
            padding: 16px 32px;
            font-size: 16px;
            color: #FFFFFF;
            background-color: #4D5AE5;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        main h2{
            font-size: 20px;
            font-weight: 700;
        }
        .Portfolio {
            background-color: #F4F4FD;
            padding: 80px 0;
        }
        .Portfolio ul li {
            border-radius: 4px;
            box-shadow: 4px 5px 10px gray;
            background-color: white;
        }
        footer {
            background-color: #2E2F42;
            color: #FFFFFF;
            padding: 60px 8.125% 50px;
            line-height: 6px;
        }
        footer h2 {
            color: #4D5AE5; 
            font-family: 'raleway', sans-serif; 
            font-weight: bold;
            word-spacing: -5px;
            line-height: 40px;
        }